// Variables
$gray-dark: #333;
$primary-color: #f6d41c;
$gray-blur: #83868a;
$bg-grad: linear-gradient(to right, #f6d41c 0%, #ffb347 51%, #f6d41c 100%);
$bg-grad-dark: linear-gradient(to right, #333 0%, #666565 51%, #333 100%);
$bg-grad-border: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(196, 196, 196, 0) 100%);
    
